.navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--SPACE-16);
    padding: var(--SPACE-07) var(--SPACE-05) var(--SPACE-03);
    position: absolute;
    width: 100%;
    z-index: var(--ELEVATION-2);
}

.language {
    display: flex;
    position: relative;
    z-index: var(--ELEVATION-5);
}

.languageitem {
    align-items: center;
    background: var(--BACKGROUND-UI);
    border-radius: var(--RADIUS-06);
    display: flex;
    padding-bottom: var(--SPACE-03);
    padding-top: var(--SPACE-03);
    position: relative;
    z-index: var(--ELEVATION-5);
}